# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Model checkpoints and weights
*.pt
*.pth
*.ckpt
*.bin
checkpoints/
# models/
weights/

# Datasets
*.csv
*.json
*.parquet


# Logs and outputs
logs/
runs/
outputs/
results/
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*~

figs/
lightning_logs/
TRAINING_DATA/

scripts/download_omol.sh
scripts/final_logs/
generated.txt
test_scatter.npy
data/ZINC/
requirements.txt
zinc12k_analysis/*.ipynb
wandb/

# # But allow CSVs inside MOSES
# external/**
# !external/moses/
# !external/moses/**
# !external/moses/**/*.csv

#Ignore .npy
*.npyevaluation/results/
grassy_dit/data/scattering_moments.npy
evaluation/results/
